.mainDiv {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .gameGrid {
    .gridDiv {
      display: flex;
      flex-direction: column;

      .gridRow {
        display: flex;
        flex-direction: row;
        .mygtukas {
          width: 90px;
          height: 90px;
          background: none;
          border-radius: 20%;
          // border: none;
        }
        .gridIcon {
          height: 90px;
          width: 90px;
          background: white;
          //   margin: 10px;
        }
      }
      .gridBar {
        background: black;
        height: 90px;
        width: 20px;
      }
      .gridHorBar {
        height: 20px;
        width: 310px;
        background: black;
      }
    }
  }
  .gameRules {
    display: flex;
    justify-content: center;
    .desc {
      font-family: 'Courier New', Courier, monospace;
    }
  }
}
